<div class="container-fluid">
	<% if(errors && errors.length > 0){ %>
    <div class="row">
      <div id="errors" class="bs-callout bs-callout-warning">
        <% for(i=0;i<errors.length;i++){ %>
            <h4><%- errors[i] %></h4>
        <% } %>
      </div>
    </div>
  	<% } %>
	<div class="row">
		<header>
			<h1>Login</h1>
		</header>
		<form role="form" action="/auth/local" method="post">
			<div class="form-group">
				<label class="sr-only" for="email">Email address</label>
				<input type="text" name="identifier" class="form-control" id="email" placeholder="Your email" />
			</div>
			<div class="form-group">
				<label class="sr-only" for="password">Password</label>
				<input type="password" class="form-control" name="password" placeholder="Enter password">
			</div>
			<button type="submit" class="btn btn-default">Login</button> 
		</form>
	</div>
	<br>
	<div class="row">
		<a href="/auth/facebook" role="button"><span class="fa fa-facebook"></span> Facebook Login</a> or <a href="/register" class="">Sign up</a>
	</div>
</div>