<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="pull-left">Copyright &copy; 2014 </div>
			<div class="pull-right">Made with <i class="fa fa-heart" style="color:red"></i> in Portland, OR.</div>
		</div>
	</div>
</footer>