<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="pull-left">Copyright &copy; 2014 </div>
			<div class="pull-right">Made with &#x2665; in Portland, OR.</div>
		</div>
	</div>
</footer>