<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="pull-left">Copyright &copy; 2014 </div>
			<div class="pull-right">Made with <span style="color:red">&#x2665;</span> in Portland, OR.</div>
		</div>
	</div>
</footer>