<div class="row-fluid">
  <% if (!user) { %>

        <div class="jumbotron" style="text-align:center">
          	<h1>Value your opinions.</h1>
            <p class="lead">Minnow is focused on restoring the promise of radical anonymity to the web.</p>
            <p class="container-fluid">
              <a href="/auth/facebook" role="button" class="btn btn-lg btn-primary">Login with Facebook</a>
            </p>
        </div>
        <div class="col-lg-6">
          <div class="row-fluid">
            <h4>Literally get paid</h4>
            <p>We think your opinion matters. As a matter of fact, so much, that we've decided to build a platform that allows you to monetize it.</p>
          </div>
          <div class="row-fluid">
            <h4>Express yourself</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row-fluid">
            <h4>Inspire and motivate</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
          </div>
          <div class="row-fluid">
            <h4>Real news 24/7</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
          </div>
        </div>
    

  <% } else { %>

        <div id="disconnect" class="bs-callout bs-callout-warning" style="display:none">
          <h4>Waiting for reconnect...</h4>
          <p>You may have to refresh the page.</p>
        </div>
        <div class="row-fluid">
          <div class="col-lg-8">
              <div id="rooms"></div>
          </div>
          <div class="col-lg-4 user-list-container">
             <select id="users-list" size="5" class="user-list"></select>
             <p>Users Online</p>
          </div>
        </div>

  <% } %>
</div>